$fondo-negro:rgba(0, 0, 0, 0.7);
$letra-clara: blanchedalmond;

.cita-estilo{
    margin-top: 70px;
}
.cita-estilo p{
    background-color: $fondo-negro;
    text-align: center;
    color: $letra-clara;
    font-style: italic;
    position: relative;
    bottom: 250px;
    left: 120px;
    width: 75%;
    font-size: 30px;
    font-weight: 400;
    font-family: 'Caudex', serif;
}
.texto-visible{
    transition: 1s;
}
.texto-oculto{
    filter: opacity(0%);
    transition: 1s;
    position: relative;
    bottom: 150px;
}
.cita-estilo:hover .texto-oculto{
    filter: opacity(100%);
}
.cita-estilo:hover .texto-visible{
    filter: opacity(0%);
}
